@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
/* ================= PREMIUM ADKAMP SCROLLBAR ================= */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #faa719, #e68f12);
  border-radius: 12px;
  border: 3px solid #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f8a91d, #cc7b10);
  box-shadow: 0 0 12px rgba(250, 167, 25, 0.55);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #faa719 #ffffff;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease;
}
